.Principal {
    display: flex;
    flex-direction: column;
}

.header {
    display: inline-block;
    margin-right: 0vw;
    justify-content: space-around;
}

.b7{
    width: 233px;
    height: 40px;
    color: #FFFFFF;
    background: #087ae4;
    border: #087ae4;
    margin: 0px 24px;
    cursor: pointer;
}

.FormG{
    width: 18vw;
}