.F-update {
    display: flex;
    flex-wrap: wrap;
}

.Name-and-entries {
    display: flex;
    width: 27.5vw;
}

.Name-and-entries h2 {
    margin-right: 2vh;
}

.Name-and-entries h4 {
    margin-top: 0.3vw;    
}

.Version-and-comment {
    margin: 0;
    width: 41vw;
    display: grid;
    justify-content: end;
    text-align: right;
}

#versionCurriculum {
    color: #2a7ae1;
}

.Bt-ComeBack-update {
    margin-right: 3vw;
}

.Validation-update-curriculum {
    position: relative;
    top: 9vh;
    left: 10vw;
}

.Electronic-authentication {
    margin-left: 21.5vw;
}

.boxExperiences {
    position: relative;
    top: 9vh;
    overflow-y: scroll;
    width: 33%;
    max-width: 700px;
    max-block-size: 500px;
    background: #eeeeee;
    border-style: solid;
    border-color: #606060;
    border-width: 2px;
    padding-top: 8vh;
    padding-left: 2vw;
}

.Bottom-icons {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20vh;
    height: min-content;
    width: 95%;
}

.Bottom-icons h6 {
    margin-top: 0.7vh;
    margin-left: 0.5vw;
}

.Icons-flex {
    display: flex;
}