.Fields {
    display: inline-block;
    margin-right: 0vw;
    margin-left: 28vw;
    padding: 5vw 0vw 5vw 0vw;
}

.Area {
    background-color: rgb(238, 238, 238);
    position: fixed;
    z-index: -1;
    top: 2%;
    left: -1%;
    height: 96%;
    width: 71vw;
}

.Image{
    position: fixed;
    z-index: -2;
    background-image: url('../../assets/images/back.png');
    top: 0vh;
    left: -21vw;
    height: 100%;
    width: 95vw;
}

.Underline {
    text-decoration: underline;
}

.ScheduleValidation01{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #087ae4;
}

.ScheduleValidation01 h1{
    position: absolute;
    width: 236px;
    height: 61px;
    left: 36px;
    top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    cursor: pointer;
}

.ScheduleValidation01 h2{
    position: absolute;
    width: 60px;
    height: 51px;
    left: 171px;
    top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;

}

.ScheduleValidation01 h3{
    width: 908px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-left: 24px;
}

.ScheduleValidation01 button {
    display: inline-block;
    position: initial;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
}

.AllButtons{
    margin-top: 45%;
}