.File-upload input {
    display: none;
}

.Button-up {
    width: 10vw;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 10px 0 #003c86;
}

.File-upload .btn-lg {
    padding: 0;
}

.Button-up .Button-icon {
    margin-right: 0.5vw;
}
