.Receipt-unique {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
    border-width: 2px;
    border-color: #606060;
    background-color: #dddddd;
    margin-bottom: 3vh;
    height: 8vh;
}
/*TODO se a palavra for muito grande não irá quebrar linha, e ficará bugado no front*/


.Icon-Entry {
    border: 0;
    width: 35px;
    height: 35px
}

.UR-icon {
    width: 2vw;
}

.UR-link {
    width: 8vw;
}

.UR-extension {
    width: 2vw;
}

.UR-comment {
    width: 12vw;
}

.Subdivs-in-receipts {
    text-align: center;
}