.Entries-maped h4 {
    font-weight: 700;
    font-family: sans-serif;
}

.Entries-maped p {
    margin-left: 2vw;
    cursor: pointer;
}

.Entries-maped .Icons {
    margin-left: -2.5vw;
    padding: 3px;
}

.Change-color-p {
    color: #007df7;
    text-decoration: underline;
}