.Entries-maped h4 {
    font-weight: 700;
    font-family: sans-serif;
}

.Entries-maped p {
    cursor: pointer;
}

.Entries-maped .Icons {
    padding: 3px;
}

.Change-color-p {
    color: #007df7;
    text-decoration: underline;
}

.Entry-and-icons {
    display: flex;
    margin-bottom: 2vh;
}

.Icon-and-count {
    display: flex;
}

.Up-icon p {
    cursor: default;
    position: relative;
    top: -1vh;
    left: -0.2vw;
    font-weight: 700;
    color: red;
    margin-bottom: 0.3vh;
}

.Up-icon img {
    position: relative;
    top: 1vh;
    left: 0.2vw;
}

.Up-icon .WithoutReceipt {
    margin-right: 0.3vw;
}